<div class="admin-sidebar">
    <h1 class="text-extralarge">rideout Admin</h1>
    <ul class="no-bullet">
        <li><a class="button" href="#"><ion-icon name="home"></ion-icon> Dashboard</a></li>
        <li><a class="button" href="#"><ion-icon name="cube"></ion-icon> Products</a></li>
        <li><a class="button" href="#"><ion-icon name="cart"></ion-icon> Orders</a></li>
        <li><a class="button" href="#"><ion-icon name="people"></ion-icon> Customers</a></li>
        <li><a class="button" href="#"><ion-icon name="settings"></ion-icon> Settings</a></li>
    </ul>
</div>