<footer>
    <!-- Just the logo (a hearth icon), the name rideaut, "Where quality meets the open road" and all rights reserved. all in a column-->
    <div class="footer-content">
        <div class="flex flex-column flex-center mb-3">
            <ion-icon name="heart" height="64"></ion-icon>
            <span>rideaut</span>
        </div>
        <p class="text-large">Where quality meets<br> the open road.</p>
        <br>
        <p>© 2024 rideaut. All rights reserved.</p>
    </div>
</footer>