<nav>
    <a class="logo-container" href="/">
        <ion-icon name="heart"></ion-icon>
        <span>rideout</span>
    </a>
    <div class="nav-links flex-auto gap-4">
        <a href="/">Home</a>
        <a href="/products.html">Products</a>
    </div>
    <div class="search-container full-width">
        <input class="full-width" type="text" placeholder="Search">
        <ion-icon name="search"></ion-icon>
    </div>
    <div class="account-container flex-auto flex-right gap-2">
        <ion-icon name="person"></ion-icon>
        <a href="/login.html">Register/Login</a>
    </div>
    <div class="cart-container gap-2">
        <ion-icon name="cart"></ion-icon>
        <span class="cart-count">0</span>
    </div>
</nav>