<nav>
    <a class="logo-container flex gap-2 flex-nowrap" href="/">
        <ion-icon name="car-sport-outline"></ion-icon>
        <span>rideout</span>
    </a>
    <div class="nav-links flex-auto gap-4">
        <a href="/">Home</a>
        <a href="/products.html">Products</a>
    </div>
    <form class="search-container width-full" action="/products.html" method="GET">
        <label for="search" class="sr-only p-2"><ion-icon name="search"></ion-icon></label>
        <input class="width-full" type="text" placeholder="Search Products" id="search" name="search">
        <button type="submit" class="button-icon-clear"><ion-icon name="search"></ion-icon></button>

    </form>
    <div class="account-container flex-auto flex-right">
        <a href="/login.html" class="button button-icon-clear button-small flex flex-nowrap gap-2">
            <ion-icon name="person"></ion-icon>
            <span class="text-medium">Login</span>
        </a>
    </div>
    <div class="cart-container">
        <a href="/cart.html" class="button button-icon-clear button-small">
            <ion-icon name="cart"></ion-icon>
            <span class="cart-count">12</span>
        </a>
    </div>
    <div class="menu-container">
        <button class="button-icon-clear navbar-toggle" onclick="toggleNavbar()">
            <ion-icon class="open-icon" name="menu"></ion-icon>
            <ion-icon class="close-icon" name="close"></ion-icon>
        </button>
    </div>
</nav>